.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.padding {
  padding-right: 8px;
  padding-left: 8px;
}

@media (min-width: 600px) {
  .container {
    width: 80%;
    min-width: 560px;
  }
}

@media (min-width: 960px) {
  .container {
    width: 68%;
    max-width: 850px;
  }
}

@media (min-width: 1280px) {
  
}
